<ion-view  title="Step 2/7" class="login-view">
  <ion-content class="padding">

    <div class="row row-center">
      <div class="col">

           <div class="logo "><img src="img/place1.png"></div>

        <form>
          <div class="list input-list style-1">
             <input type="text" placeholder="Home Address" ng-model="formData.Address">
              <input type="text" placeholder="Parish" ng-model="formData.Parish"> 
                           
              <input type="text" placeholder="Agreement Id No" ng-model="formData.AgreementId">
              <input type="text" placeholder="Agreement Date" ng-model="formData.AgreementDate">
              <input type="text" placeholder="Investment Amount" ng-model="formData.Amount">
              <input type="text" placeholder="Investment Maturity Date" ng-model="formData.MaturityDate">
            </label>
          </div>

     <button class="test button button-block icon-right ion-chevron-right button-login" ng-click="login()">
                    Next Page
                  </button>
        </form>

      </div>
    </div>

  </ion-content>
</ion-view>