<ion-view hide-nav-bar="true"  class="login-view">
  <ion-content class="padding">

    <div class="row row-center">
      <div class="col">

        <div id="logo"></div>

        <form>
          <div class="list input-list style-1">
          <label class="item item-input item-select">
                <div class="input-label">
                Source of Funds
                </div>
                <select>
                <option selected ng-model="formData.Inheritance">Inheritance</option>
                <option ng-model="formData.Savings">Savings</option>
                <option ng-model="formData.SoFOther">Other</option>
                </select>
            </label>

            <label class="item item-input">
              <input type="text" placeholder="Other (please give details)" ng-model="formData.SoFDetails">
            </label>

            Account Activity
            <label class="item item-input">
              <input type="text" placeholder="Expected level of activity (estimate annual investment amount) $" ng-model="formData.LvlofActivity">
            </label>

            <label class="item item-input item-select">
                <div class="input-label">
                Source of Funds
                </div>
                <select>
                <option selected ng-model="formData.OneOff">One off</option>
                <option ng-model="formData.Monthly">Monthly</option>
                <option ng-model="formData.Quarterly">Quarterly</option>
                <option ng-model="formData.Anually">Anually</option>
                </select>
            </label>

            <label class="item item-input item-select">
                <div class="input-label">
                Would you like online access to the account?
                </div>
                <select>
                <option selected ng-model="formData.AtAyes">Yes</option>
                <option ng-model="formData.AtAno">No</option>
                </select>
            </label>

            <label class="item item-input">
              <input type="text" placeholder="If yes please provide email address of primary contact" ng-model="formData.SoFDetails">
            </label>

          </div>

           <button class="test button button-block icon-right ion-chevron-right button-login" ng-click="login()">
                    Next Page
                  </button>

        </form>
        
      </div>
    </div>
  </ion-content>
</ion-view>