<ion-view hide-nav-bar="true"  class="login-view">
  <ion-content class="padding">

    <div class="bar bar-header bar-light">
        <h1 class="title">Self-Certification</h1>
    </div>

    <h2>Instructions for completion</h2>
    <p>We are obliged under relevant laws, treaties and intergovernmental agreements relating to the automatic exchange of informationfor tax matters (collectively "AEOI"), to collect certain information about each account holder’s tax status. Please complete the following sections as directed and provide any additional information that is requested. Please note that we may be obliged to share this information with relevant tax authorities. Terms referenced in this form shall have the same meaning as applicable under the relevant Regulations, Guidance Notes or international agreements.If any of the following information regarding your tax residence or classiﬁcation changes in the future, please ensure you advise us of these changes promptly.</p>


    <label class="item item-input item-select">
                <div class="input-label">
                Declaration of U.S. Citizenship or U.S. Residence for Tax Purposes
                </div>
                <select>
                <option selected ng-model="formData.DecResident">U.S. Resident</option>
                <option ng-model="formData.DecFormerResident">Former U.S. Resident</option>
                <option ng-model="formData.DecNonResident">Non U.S. Resident</option>
                </select>
            </label>


      <label class="item item-input">
              <input type="text" placeholder="Country of Tax Residency" ng-model="formData.CoTR">
            </label>
      <label class="item item-input">
              <input type="text" placeholder="Tax Reference Number Type" ng-model="formData.TRNT">
            </label>
      <label class="item item-input">
              <input type="text" placeholder="Tax Reference Number" ng-model="formData.TaxRefNo">
            </label>

      

  </ion-content>
</ion-view>