<ion-view title="Step 4/7" class="login-view">
  <ion-content class="padding">

    <div class="row row-center">
      <div class="col">

    <div class="logo "><img src="img/place1.png"></div>

        <form>
          <div class=" one list input-list style-1">
            <label class="item item-input item-select"> <!-- -->
                <div class="input-label">
                Residency <br>
                Status
                </div>
                <select>
                <option ng-model="formData.Resident">Resident</option>
                <option selected ng-model="formData.NonResident">Non Resident</option>
                </select>
            </label>


           
              <input type="text" placeholder="Citizenship (list all which apply)" ng-model="formData.Citizenship">
         

            
              <input type="text" placeholder="Country" ng-model="formData.Country">
           

          
              <input type="text" placeholder="Occupation" ng-model="formData.Occupation">
          

           
              <input type="text" placeholder="Employer" ng-model="formData.Employer">
           

            <label class="item item-input item-select"> <!-- -->
                <div class="input-label">
                Proof of <br> Address 
                </div>
                <select>
                <option selected ng-model="formData.UtilityBill">Recent Utility Build</option>
                <option ng-model="formData.BankOrCredit">Bank or Credit Card Statement</option>
                <option ng-model="formData.Other">Other</option>
                </select>
            </label>
            
            <!-- have other text input appear if other selected
            <label class="item item-input">
              <input type="text" placeholder="Other" ng-model="formData.Other">
            </label>  -->
<br>
             <button class="test button button-block icon-right ion-chevron-right button-login" ng-click="login()">
                    Next Page
                  </button>

          </div>
        </form>
      </div>
    </div>
  </ion-content>
</ion-view>