<ion-view hide-nav-bar="true"  class="login-view">
  <ion-content class="padding">

    <div class="row row-center">
      <div class="col">

        <div id="logo"></div>

        <form>
          <div class="list input-list style-1">
            Anti-money laundering legislation requires that we ask
              
              <label class="item item-input item-select">
                <div class="input-label">
                Are any of the applicant(s) or immediate family members a current or former senior government, political or military oﬃcial, or do any of them have arelativeor close connectionwho is a current or former senior government, political or military oﬃcial?
                </div>
                <select>
                <option selected ng-model="formData.FoGyes">Yes</option>
                <option ng-model="formData.FoGno">No</option>
                </select>
            </label>

            <label class="item item-input">
              <input type="text" placeholder="If Yes, please provide details" ng-model="formData.FoGDetials">
            </label>


          <label class="item item-input item-select">
                <div class="input-label">
                Source of Funds
                </div>
                <select>
                <option selected ng-model="formData.Inheritance">Inheritance</option>
                <option ng-model="formData.Savings">Savings</option>
                <option ng-model="formData.SoFOther">Other</option>
                </select>
            </label>

            <label class="item item-input">
              <input type="text" placeholder="Other (please give details)" ng-model="formData.SoFDetails">
            </label>

          </div>
        </form>
      </div>
    </div>
  </ion-content>
</ion-view>