<ion-view title="Step 3/7" class="login-view">
  <ion-content class="padding">

    <div class="row row-center">
      <div class="col">

            <div class="logo "><img src="img/place1.png"></div>

        <form>
          <div class="one list input-list style-1">
              <label class="item item-input item-select">
                <div class="input-label">
                Barbados Status
                </div>
                <select>
                <option selected ng-model="formData.Dr">Dr</option>
                <option ng-model="formData.Mr">Mr</option>
                <option ng-model="formData.Mrs">Mrs</option>
                <option ng-model="formData.Miss">Miss</option>
                <option ng-model="formData.Ms">Ms</option>
                </select>
            </label>

           
              <input type="text" placeholder="Middle Name(s)" ng-model="formData.MiddleName">
           

              <input type="text" placeholder="Postal Code" ng-model="formData.PostalCode">
            

              <input type="text" placeholder="Country" ng-model="formData.Country">
         

              <input type="text" placeholder="Work No" ng-model="formData.Work">
      

          
              <input type="text" placeholder="Date of Birth (dd/mm/yyyy)" ng-model="formData.DoB">
       
<br>
             <button class="test button button-block icon-right ion-chevron-right button-login" ng-click="login()">
                    Next Page
                  </button>

          </div>
        </form>
      </div>
    </div>
  </ion-content>
</ion-view>




<!-- 

<ion-view hide-nav-bar="true"  class="login-view">
  <ion-content class="padding">

    <div class="row row-center">
      <div class="col">

        <div id="logo"></div>

        <form>
          <div class="list input-list style-1">
          </div>

          <button class="button button-block button-positive" ng-click="login()">
            Next Page
          </button>

        </form>
      </div>
    </div>
  </ion-content>
</ion-view>

    -->