 <ion-view title="Playlists" hide-nav-bar="false">
  <ion-content class="has-header padding">
  
 		 <div class="col logo"><img src="img/Opitions.png"></div>

    <div class="list">
	    <a class="item item-thumbnail-left" ng-click = "showPopup()" >
	      <img src="img/money.png">
	      <h2>Cash Payment</h2>
	      <p>Click to select the amount</p>
	    </a>
	</div>
	<div class="list">
	    <a class="item item-thumbnail-left" href="#">
	      <img src="img/bank.png">
	      <h2>Bank Transfer</h2>
	      <p>Click to select the amount</p>
	    </a>
	</div>
	<div class="list">
	    <a class="item item-thumbnail-left" href="#">
	      <img src="img/card.png">
	      <h2>Credit Card</h2>
	      <p>Click to select the amount</p>
	    </a>
	</div>
  
  </ion-content>
</ion-view>