/* Empty. Add your own CSS if you like */

#a0-lock.a0-theme-default .a0-popup .a0-centrix .a0-panel .a0-footer {
    margin-top: 62px;
    display: none;
}

.item-thumbnail-left > img:first-child{
    top: 20px;
  }
  .logo{
  	text-align: center;
 
  }
  .popup{
  	width: 300px;
    }
